/* Stylehsheet */
@import "semantic";

:root {
    --base: #c0a7c7;
    --spacing: 10px;
    --rotate: 0deg;
}

img {
    padding: var(--spacing);
    background: var(--base);
    rotate: var(--rotate);
}

.hl {
    color: var(--base);
}

    /*
      misc styles, nothing to do with CSS variables
    */

    h1 {
    font-size: 60px;
    }

    body {
      text-align: center;
    }

    body {
      background: #193549;
      color: white;
      font-family: 'helvetica neue', sans-serif;
      font-weight: 100;
      font-size: 50px;
    }

    .controls {
      margin-bottom: 50px;
    }

    input {
      width:100px;
    }