/* Stylehsheet */

:root {
    --base: #71928e;
    --spacing: 5px;
    --br: 20px; 
    }

img {
    border: solid var(--spacing);
    border-radius: var(--br);
    border-image: url(http://37.media.tumblr.com/b8994e8f98176da4a21b9f58b74cc395/tumblr_n4yyn7AQv81rlmolwo1_500.gif) 50 50 50 50 repeat;
    
    
    
  
}

.hl {
    color: var(--base);
}


/*styling of the content*/

h1 {
    font-size: 60px;
}

body {
    text-align: center;
}

body {
    background: #f6f1eb;
    color: #495961;
    font-family: 'avenir', sans-serif;
    font-weight: 100;
    font-size: 20px;
}

.controls {
    margin-bottom: 60px;
}

input {
    width: 100px;
}
