/* Stylehsheet */
@import "semantic";

:root {
    --base: #c0a7c7;
    --spacing: 10px;
    --grayscale: 0%;
}

img {
    padding: var(--spacing);
    background: var(--base);
    filter: grayscale(var(--grayscale));}

.hl {
    color: var(--base);
}

    /*
      misc styles, nothing to do with CSS variables
    */

    h1 {
    font-size: 60px;
    }

    body {
      text-align: center;
    }

    body {
      background: #c0a7c7;
      color: white;
      font-family: 'avenir', sans-serif;
      font-weight: 100;
      font-size: 20px;
    }

    .controls {
      margin-bottom: 60px;
    }

    input {
      width:100px;
    }